/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
/*feature*/
.Catagories
{
    background-color:#f3f8f9;
    color:#505050;
    font-family: 'Rubik', sans-serif;
    line-height:26px;
    padding:94px 0px 70px;
}
/*size and */
.Catagories
{
    height:759px;
}
/*sec-title*/
.container{
    width: 1270px;
    padding: 0 15px;
    margin: 0 126px;
}
.container_Child{
  display: flex;
  width: 1270px;
  font-size: 15px;
  margin: 0 -15px 50px -15px;
  justify-content:center;
  align-items:center;
}
.container_Child_2{
  width: 1270px;
  padding: 0 15px;
}

.Sec-title{
    width: 1240px;
    font-family: Nunito;
    justify-content:left;
    align-items:center;
}

/*Title*/

.Title{
    color: #111111;
    font-size: 36px;
    width:1240px;
    font-weight: 700;
    line-height: 44px;   
}
.row_body2{
  display: flex;
  width: 1270px;
  height: 500px;
  margin: 0 -15px;
  justify-content: center;
  align-items:center;
}


